@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  h1 {
    color : #9d0059 ;
    @apply text-xl;
    @apply mt-0;
    @apply mb-0;
  }
  h2 {

    @apply text-lg;
    color : #9d0059 ;
    @apply mt-4;
    @apply mb-2;
  }
  button, input[type="submit"], a.button {
      @apply bg-blue-500 text-white px-4 py-2 rounded-lg ;
  }

  input[type="text"] {
    @apply px-2 py-2 rounded-lg ;
  }

  /* tables */
  .thead {
    @apply bg-pink-800 text-white font-semibold ;
  }
  .tbody {
    @apply border-2 border-gray-300 border-solid ;
  }
  .table tr {
    @apply border-b-2 border-gray-300 border-solid ;
  }
  .table th {
    @apply pt-2 pr-4 pb-2 pl-4 ;
  }
  .table td {
    @apply p-4 ;
  }
}

/* ------------------------------------------- */

a.button {
  display : inline-block ;
}

/* formulaires */

.form_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width : 800px ;
}

.form_row:after {
  content: "";
  display: table;
  clear: both;
}

.form_col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.form_col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.form_row > div > label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


[type="text"], [type="email"], [type="url"], [type="password"], [type="number"], [type="date"], [type="datetime-local"], [type="month"], [type="search"], [type="tel"], [type="time"], [type="week"], [multiple], textarea, select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.form_row > div > input[type=text], .form_row > div > input[type=number], .form_row > div > select, .form_row > div > textarea {
  width: 100%;
}

.form_row > input[type=submit] {
  cursor: pointer;
  float: right;
  margin-top : 6px ;
}

label[required]::after {
  content : "*" ;
  font-weight : bold ;
  color : red ;
  padding-left : 5px ;
}


/* FIN formulaires */
img.illustration {
  width : 300px ;
  height : 300px ;
  border : 1px solid grey ;
}

img.vignette {
  width : 125px ;
  height : 125px ;
  border : 1px solid grey ;
}

img.minivignette {
  width : 75px ;
  height : 75px ;
  border : 1px solid grey ;
}
img.microdrapeau {
  height : 20px ;
  display : inline ;
}
.unavailable {
  filter : grayscale(1) ;
  opacity : 0.5 ;
}

@media screen and (max-width: 600px) {
  .form_col-25, .form_col-75, .form_row > input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

button.delete {
  background-color : lightcoral ;
}
button.create {
  background-color : lightgreen ;
}
button.standard {
  background-color : lightblue ;
}

/*responsive tables*/
.table-responsive {
  overflow-x : auto ;
}